/* #region RESET */
*{
    border: 0px;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
/* #endregion RESET */

/* #region DEBUG */
.row, .col, .flex{
    border: 1px dashed black;
}

.col > *,  .flex > *{
    border: 1px dashed red;
}

body{
    background-color: aquamarine;
}
/* #endregion DEBUG */

/* #region LAYOUT */
.container-almostfluid{
    max-width: 1500px;
    padding: 0px 10px;
}

.container-xl{
    max-width: 1140px;
}
.container-lg{
    max-width: 960px;
}

[class^="container"]{
    margin: 0px auto;
    padding: 0px 10px;
}

.row{
    display: flex;
}

.col-30{
    width: 30%;

}

.col-70{
    width: 70%;
}
/* #endregion LAYOUT */

/* #region GENERAL */
body{
    font-family: 'Open Sans', sans-serif;
}
ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}
/* #endregion GENERAL */

/* #region BUTTONS */
[type="button"]{
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
}

.btn--base{
    padding: 4px 8px;
}

.btn--hollow{
    background-color: transparent;
}

.btn--fixed{
    width: n;
}

.btn--solid{
    background-color: #0061FF;
    color: white;
}

.btn--solid:active{
    background-color: #0141a8;
}

/* #endregion BUTTONS */

/* #region HEADER */
header{
    position: sticky;
    background-color: white;
    padding: 20px 0px;
    font-size: clamp(10px, 2vw, 13px);
    white-space: nowrap;
}

header .col, header .flex{
    align-items: center;
}

header .row{
    justify-content: space-between;
}

header li{
    margin: 0px 10px;
}

header li:hover{
    font-weight: 600;
    box-shadow: 0px 1px #0061FF;
    transition: 0.2s;
}

header [src*="logo"]{
    width: clamp(60px, 10vw, 100px);
}

ul.flex{
    margin: 0px 15px;
}

/* #endregion HEADER */

/* #region MAIN */
main{
    font-size: clamp(12px, 2vw, 16px);;
}

main > section:not(.banner){
    background-color: white;
}

main [class^="col"]{
    flex-grow: 1;
}

.banner{
    background-color: #B4D0E7;
}

/* hero */
#hero{
    position: relative;
}

h1{
    font-weight: 800;
    font-size: clamp(35px, 5vw, 70px);
    padding: 30px 0px;
}

#hero .flex{
    flex-direction: column;
}

#hero button{
    padding: 6px 14px;
    margin: clamp(12px, 5vw, 26px) 0px;
}

[src*="jumbo"]{
    width: 100%;
}

#hero .col-70{
    min-width: 350px;
}

#hero .container-xl{
    position: relative;
    top: 50px
}

#hero i{
    font-size: 60px;
    position: absolute;
    bottom: 50px;
    left: 14px;
}

@media screen and (max-width: 960px){
    #hero i{
        left: -60px;
        transition: 0.4s;
    }
}

@media screen and (min-width: 960px){
    #hero i{
        transition: 0.3s;
    }
}

@media screen and (max-width: 520px){
    #hero .container-xl{
        position: static;
    }
    [src*="jumbo"]{
        position: relative;
        bottom: -30px
    }
}

/* colonnine */
.heroside{
    padding-top: 70px;
}
/* #endregion MAIN */