/* #region RESET */
*{
    border: 0px;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
/* #endregion RESET */

/* #region DEBUG */
/* .row, .flex{
    border: 1px dashed black;
}

.row > *,  .flex > *{
    border: 1px dashed red;
}

section{
    border: 1px dashed green;
}

body{
    background-color: aquamarine;
} */
/* #endregion DEBUG */

/* #region LAYOUT */
.container-almostfluid{
    max-width: 1500px;
    padding: 0px 10px;
}

.container-xl{
    max-width: 1140px;
}
.container-lg{
    max-width: 960px;
}

[class^="container"]{
    margin: 0px auto;
    padding: 0px 15px;
}

.col-30{
    width: 30%;
}

.col-33g{
    width: calc(100% / 3 - var(--col-gap));
}

.col-40{
    width: 40%;
}

.col-60{
    width: 60%;
}

.col-70{
    width: 70%;
}

.col-100{
    width: 100%;
}
/* #endregion LAYOUT */

/* #region GENERAL */
:root{
    --col-gap: 35px
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(10px, 2vw, 13px)
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

section, footer{
    padding-top: clamp(40px, 4vw, 70px);
    padding-bottom: clamp(10px, 4vw, 20px);
}

.flex{
    display: flex;
}

.row{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.nogrow{
    flex-grow: 0 !important; /* qui è onesto */
}
/* #endregion GENERAL */

/* #region TYPOGRAPHY */
h1{
    font-weight: 800;
    font-size: clamp(35px, 5vw, 70px);
    margin-bottom: clamp(18px, 4vw, 50px);
}
h2{
    font-size: clamp(25px, 4vw, 37px);
    margin-bottom: clamp(18px, 4vw, 50px);
}

h3{
    font-size: clamp(15px, 3vw, 22px);
    margin: clamp(8px, 2vw, 13px) 0px;
}

/* #endregion TYPOGRAPHY */ 

/* #region BUTTONS */
[type="button"]{
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}

.btn--thin{
    padding: 4px 10px;
}

.btn--thick{
    padding: 10px;
}

.btn--hollow{
    background-color: transparent;
    border: 1px solid black;
}

.btn--solid--main{
    background-color: #0061FF;
    color: white;
}

.btn--solid--var{
    background-color: white;
    color: black;
}


.btn--solid--main:active{
    background-color: #0141a8;
}

.btn--solid--var:active{
    background-color:  rgb(235, 235, 235);
}

.btn--hollow:active{
    background-color: rgba(166, 165, 165, 0.5);
}

/* #endregion BUTTONS */

/* #region HEADER */
header{
    position: sticky;
    z-index: 1;
    top: 0px;
    background-color: white;
    padding: 20px 0px;
    white-space: nowrap;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

@media screen and (max-width: 900px){
    header{
        position: static;
    }
}

header .col, header .flex{
    align-items: center;
}

header .row{
    justify-content: space-between;
}

header li{
    margin: 0px 10px;
}

header li:hover{
    font-weight: 600;
    box-shadow: 0px 1px #0061FF;
    transition: 0.2s;
}

header [src*="logo"]{
    width: clamp(60px, 10vw, 100px);
}

ul.flex{
    margin: 0px 15px;
}

/* #endregion HEADER */

/* #region MAIN */
main > section:not(.banner){
    background-color: white;
}

main [class^="col"]{
    flex-grow: 1;
}

.banner{
    background-color: #B4D0E7;
}

/* hero */
#hero{
    position: relative;
    padding: 0px;
}

#hero .flex{
    flex-direction: column;
}

#hero button{
    padding: 6px 14px;
    margin: clamp(12px, 5vw, 26px) 0px;
}

[src*="jumbo"]{
    width: 100%;
}

#hero .col-70{
    min-width: 500px;
}

@media screen and (max-width: 610px){
    #hero .col-70{
        min-width: 400px;
    }
}

#hero .container-xl{
    position: relative;
    top: clamp(25px, 5vw, 65px);
}

#hero i{
    font-size: 60px;
    position: absolute;
    bottom: 12%;
    left: 14px;
}

#hero .col-30 div{
    padding-bottom: 30px;
}

@media screen and (max-width: 900px){
    #hero i{
        left: -60px;
        transition: 0.4s;
    }
}

@media screen and (min-width: 900px){
    #hero i{
        transition: 0.3s;
    }
}

/* business plans */
.heroside{
    padding-top: clamp(40px, 12vw, 80px);
}


.radio-billing{
    margin: clamp(25px, 4vw, 40px) 0px;
}

.radio-billing > *{
    margin-right: 20px;
}

#plans .row{
    gap: var(--col-gap);
}

#plans .col-33g{
    min-width: 180px;
}

.PlanCard-btn{
    max-width: 228px;
}

.PlanCard{
    border: 1px solid rgb(190, 190, 190);
    height: 100%;
}

.PlanCard-type{
    border-bottom: 1px solid rgb(190, 190, 190);
    text-align: center;
    padding: 8px 3px;
    margin-bottom: clamp(14px, 4vw, 20px);
}

.PlanCard-content{
    padding: 0px clamp(10px, 4vw, 30px);
    flex-direction: column;
    
}

.PlanCard-price{
    font-weight: 700;
    margin: 5px 0px;
}

.PlanCard-recurrence{
    color: gray;
}

.PlanCard-characteristics{
    margin: clamp(15px, 4vw, 35px) 0px;
}

.single-user::before{
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: "\f007";
    margin-right: 7px;
}

.multi-user::before{
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: "\f500";
    margin-right: 7px;
}

.space::before{
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: "\f07b";
    margin-right: 7px;
}

.functions::before{
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: "\f1e0";
    margin-right: 7px;
}

.PlanCard li{
    margin: 20px 0px;
}

.PlanCard-checks li::before{
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    font-weight: bold;
    color: #0061FF;
    margin-right: 7px;
}

.PlanCard-btn{
    width: 100%;
    max-width: 226px;
}

.PlanCard-buy{
    margin-top: clamp(8px, 3vw, 20px);
}

.PlanCard-buy a{
    color: blue;
    text-decoration: underline;
}

hr{
    margin: clamp(20px, 3vw, 40px) 0px;
    width: 20%;
    border-width: 1px;
    border-style: inset;
}

.PlanCard--var{
    flex-direction: row;
}

.PlanCard--var button{
    align-self: flex-start;
    margin-bottom: 25px;
}

.PlanCard-solutions{
    margin: clamp(20px, 3vw, 40px) 0px;
}

/* partner */
.partners img{
    width: 100%;
}

.partners .col-60{
    align-self: center;
    min-width: 350px;
}

.partners .col-40{
    padding: clamp(20px, 5vw, 40px);
}

.partners button{
    margin: clamp(20px, 3vw, 40px) 0px;
    padding-left: 10px;
    padding-right: 10px;
}

/* op */
#op .row{
    gap: var(--col-gap)
}

.CardOp-img{
    width: 100%;
}

#op .col-33g{
    min-width: 160px;
}

 /* clients */
.clients a{
    text-decoration: underline;
    color: blue;
}

.clients{
    padding: clamp(40px, 12vw, 120px) 0px;
}

/* affiliate */
.affiliate{
    padding: 0px;
}

.affiliate .row{
    justify-items: center;
}
.affiliate .col{
    height: calc(100vw / 3 - 6px);
    width: calc(100vw / 3 - 6px);
    min-width: 281px;
}

.CardBlock{
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.affiliate img{
    width: 50%;
}

.affiliate img:not(.CardBlock--big > *){
    filter: invert(1);
}

.CardBlock--designit{
    background-color: #A2D39B;
    border: clamp(5px, 2vw, 20px) solid rgba(255, 255, 255, 0.5);
}

.CardBlock--arizona{
    background-color: #61082B;
}

.CardBlock--florida{
    background-color: #0093CE;
}

.CardBlock--topps{
    background-color: #FF1C1C;
}

.CardBlock--wbr{
    background-color: #D5001F;
}

.CardBlock--hearst{
    background-color: #B4D0E7;
}

.CardBlock--lp{
    background-color: #0D2481;
}

.CardBlock--cco{
    background-color: #FFD830;
}

.CardBlock:hover{
    border: clamp(5px, 2vw, 20px) solid rgba(255, 255, 255, 0.5);
}

.CardBlock--big{
    padding: clamp(10px, 7vw, 50px);
    font-size: 70%;
    background-color: #F5F5F5;
    max-height: 100%;
}

.CardBlock--big hr{
    margin: clamp(10px, 2vw, 50px) 0px;
    width: 35%;
}

.CardBlock--big div{
    margin-top: clamp(15px, 3vw, 50px);
}

@media screen and (max-width: 850px){
    .affiliate > .row > .col:nth-child(2){
        order: 1;
        width: 100%;
        height: 50%;
    }

    .affiliate .minicards{
        width: 50%;
        height: 50vw;
    }

    .affiliate .col{
        min-width: 100px;
    }
}
/* banner */
.try{
    padding: clamp(40px, 12vw, 120px) 0px;
}

.try .col:first-child{
    max-width: 540px;
}

.try .row{
    justify-content: space-between;
    gap: 10px 60px;
}

.Banner-btn{
    width: 250px;
    margin: 10px 0px;
}

.try .col.flex{
    align-items: flex-start;
}

.banner h2{
    margin: 0px
}

/* faq */
.question{
    padding: clamp(18px, 4vw, 50px) clamp(5px, 2vw, 10px);
}

#faq hr{
    width: 100%;
    margin: 0;
}

.question i{
    padding-left: 5px;
}

.question p{
    margin: 10px 0px;
    display: none;
}

.question:hover p{
    display: block
}

.question:hover i{
    transform: rotate(180deg);
    transition: 0.4s;
}

.question:not(:hover) i{
    transition: 0.4s;
}

#faq{
    padding: clamp(40px, 15vw, 150px) 0px;
}

/* #endregion MAIN */

/* #region FOOTER */
footer{
    background-color: black;
    color: white;
}

footer li{
    margin: clamp(10px, 2vw, 15px) 0px;
    font-size: inherit;
}

footer .row{
    justify-content: space-between;
}

/* #endregion FOOTER */