/* #region RESET */
*{
    border: 0px;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
/* #endregion RESET */

/* #region DEBUG */
/* .row, .flex{
    border: 1px dashed black;
}

.row > *,  .flex > *{
    border: 1px dashed red;
}

section{
    border: 1px dashed green;
}

body{
    background-color: aquamarine;
} */
/* #endregion DEBUG */

/* #region LAYOUT */
.container-almostfluid{
    max-width: 1500px;
    padding: 0px 10px;
}

.container-xl{
    max-width: 1140px;
}
.container-lg{
    max-width: 960px;
}

[class^="container"]{
    margin: 0px auto;
    padding: 0px 10px;
}

.col-30{
    width: 30%;
}

.col-33g{
    width: calc(100% / 3 - var(--col-gap));
}

.col-40{
    width: 40%;
}

.col-60{
    width: 60%;
}

.col-70{
    width: 70%;
}

.col-100{
    width: 100%;
}
/* #endregion LAYOUT */

/* #region GENERAL */
:root{
    --col-gap: 35px
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

section:not(#hero){
    padding: 50px 0px;
}

.flex{
    display: flex;
}

.row{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.grow{
    flex-grow: 1;
}
/* #endregion GENERAL */

/* #region TYPOGRAPHY */
h1{
    font-weight: 800;
    font-size: clamp(35px, 5vw, 70px);
    margin-bottom: clamp(18px, 4vw, 50px);
}
h2{
    font-size: clamp(25px, 4vw, 40px);
    margin-bottom: clamp(18px, 4vw, 50px);
}

h3{
    font-size: clamp(15px, 3vw, 22px);
    margin: clamp(8px, 2vw, 13px) 0px;
}

/* #endregion TYPOGRAPHY */ 

/* #region BUTTONS */
[type="button"]{
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}

.btn--thin{
    padding: 4px 8px;
}

.btn--thick{
    padding: 10px 8px;
}

.btn--hollow{
    background-color: transparent;
    border: 1px solid black;
}

.btn--solid--main{
    background-color: #0061FF;
    color: white;
}

.btn--solid--var{
    background-color: white;
    color: black;
}


.btn--solid:active{
    background-color: #0141a8;
}

/* #endregion BUTTONS */

/* #region HEADER */
header{
    position: sticky;
    z-index: 1;
    top: 0px;
    background-color: white;
    padding: 20px 0px;
    font-size: clamp(10px, 2vw, 13px);
    white-space: nowrap;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

@media screen and (max-width: 900px){
    header{
        position: static;
    }
}

header .col, header .flex{
    align-items: center;
}

header .row{
    justify-content: space-between;
}

header li{
    margin: 0px 10px;
}

header li:hover{
    font-weight: 600;
    box-shadow: 0px 1px #0061FF;
    transition: 0.2s;
}

header [src*="logo"]{
    width: clamp(60px, 10vw, 100px);
}

ul.flex{
    margin: 0px 15px;
}

/* #endregion HEADER */

/* #region MAIN */
main{
    font-size: clamp(12px, 2vw, 16px);
}

main > section:not(.banner){
    background-color: white;
}

main [class^="col"]{
    flex-grow: 1;
}

.banner{
    background-color: #B4D0E7;
}

/* hero */
#hero{
    position: relative;
}

#hero .flex{
    flex-direction: column;
}

#hero button{
    padding: 6px 14px;
    margin: clamp(12px, 5vw, 26px) 0px;
}

[src*="jumbo"]{
    width: 100%;
}

#hero .col-70{
    min-width: 350px;
}

#hero .container-xl{
    position: relative;
    top: 50px
}

#hero i{
    font-size: 60px;
    position: absolute;
    bottom: 55px;
    left: 14px;
}

@media screen and (max-width: 960px){
    #hero i{
        left: -60px;
        transition: 0.4s;
    }
}

@media screen and (min-width: 960px){
    #hero i{
        transition: 0.3s;
    }
}

@media screen and (max-width: 520px){
    #hero .container-xl{
        position: static;
        padding-top: clamp(18px, 4vw, 50px);
    }
    [src*="jumbo"]{
        position: relative;
        bottom: -30px
    }
}

/* business plans */
.heroside{
    padding-top: clamp(30px, 10vw, 70px);
}


.radio-billing{
    margin: clamp(25px, 4vw, 40px) 0px;
}

.radio-billing > *{
    margin-right: 20px;
}

#plans .row{
    gap: var(--col-gap);
}

#plans .col-33g{
    min-width: 180px;
}

.PlanCard-btn{
    max-width: 228px;
}

.PlanCard{
    border: 1px solid rgb(190, 190, 190);
    height: 100%;
}

.PlanCard-type{
    border-bottom: 1px solid rgb(190, 190, 190);
    text-align: center;
    padding: 8px 3px;
    margin-bottom: clamp(14px, 4vw, 20px);
}

.PlanCard-content{
    padding: 0px clamp(10px, 4vw, 30px);
    flex-direction: column;
    
}

.PlanCard-price{
    font-weight: 700;
    margin: 5px 0px;
}

.PlanCard-recurrence{
    color: gray;
}

.PlanCard-characteristics{
    margin: clamp(15px, 4vw, 35px) 0px;
}

.single-user::before{
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: "\f007";
    margin-right: 7px;
}

.multi-user::before{
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: "\f500";
    margin-right: 7px;
}

.space::before{
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: "\f07b";
    margin-right: 7px;
}

.functions::before{
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: "\f1e0";
    margin-right: 7px;
}

.PlanCard li{
    margin: 20px 0px;
}

.PlanCard-checks li::before{
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    font-weight: bold;
    color: #0061FF;
    margin-right: 7px;
}

.PlanCard-btn{
    width: 100%;
    max-width: 226px;
}

.PlanCard-buy{
    margin-top: clamp(8px, 3vw, 20px);
}

.PlanCard-buy a{
    color: blue;
    text-decoration: underline;
}

hr{
    margin: clamp(20px, 3vw, 40px) 0px;
    width: 20%;
    border-width: 1px;
    border-style: inset;
}

.PlanCard--var{
    flex-direction: row;
}

.PlanCard--var button{
    align-self: flex-start;
}

.PlanCard-solutions{
    margin: clamp(20px, 3vw, 40px) 0px;
}

/* partner */
.partners img{
    width: 100%;
}

.partners .col-60{
    align-self: center;
    min-width: 350px;
}

.partners .col-40{
    padding: clamp(20px, 5vw, 40px);
}

.partners button{
    margin: clamp(20px, 3vw, 40px) 0px;
    padding-left: 10px;
    padding-right: 10px;
}

/* op */
#op .row{
    gap: var(--col-gap)
}

.CardOp-img{
    width: 100%;
}

#op .col-33g{
    min-width: 160px;
}

 /* clients */
.clients a{
    text-decoration: underline;
    color: blue;
}

/* CONTROLLA LA HERO!! */

/* #endregion MAIN */